.menu {
    overflow: hidden;
    background-color: #333;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}
.header {
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, #6cb2eb, #9561e2);
    margin-bottom: 2px;
}

.location {
    height: 200px;
    width: 100%;
    position: relative;
    border: 2px solid white;
    opacity: 1;
    background-color: #5cd08d;
}

.loc-1 {
    background-image: url("../image_backgound/phong_khach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-2 {
    background-image: url("../image_backgound/phong_ngu_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-3 {
    background-image: url("../image_backgound/phong_ngu_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-4 {
    background-image: url("../image_backgound/phong_tam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.location-content {
    position: absolute;
    margin-right: -50%;
    /*background: bisque;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 30px;
    /*font-weight: bold;*/
    font-family: Algerian;
    color: white;
}

.loc-1 .loc-2 .col-3 {

}
