body {
    position: relative;
    z-index: 10;
    /*font-size: 14px;*/
}

.menu {
    /*overflow: hidden;*/
    background-color: #B7C573;
    /*background-image:linear-gradient(to right,#FFD700,#6cb2eb);*/
    position: relative;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.menu_login a {
    float: right;
    /*background-color:white;*/
}

.header {
    width: 100%;
    height: 300px;
    margin-bottom: 2px;
    background-image: url("../image_backgound/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7%;
}

.header h2 {
    color: #FF0033;
    font-size: x-large;
    font-weight: bold;
}

.location {
    height: 100px;
    width: 100%;
    position: relative;
    border: 2px solid white;
    opacity: 1;
    background-color: #5cd08d;
    display: inline-block;
    padding: 0px;
    margin-right: 5px;
}

.location:hover {
    background-color: #F1F1F1;
}

.location a {
    width: 100%;
    height: 100%;
    background-color: #9561e2;
    position: absolute;
}

.loc-1 {
    background-color: #97FFFF;
    /*background-image: url("../image_backgound/phong_khach.jpg");;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-2 {
    margin-top: 10px;
    background-image: linear-gradient(to right, #FF00FF, #3300FF);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: #171a1d;
}


.location-content {
    position: absolute;
    margin-right: -50%;
    /*background: bisque;*/
    top: 25px;
    left: 50%;
    padding-bottom: 5px;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 22px;
    /*font-weight: bold;*/
    font-family: Algerian;
    color: black;
}

.list_floor {
    position: absolute;
    margin-right: -50%;
    /*background: bisque;*/
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 18px;
    /*font-weight: bold;*/
    /*font-family: Algerian;*/
    color: rgb(8, 19, 43);
    padding-top: 20px;
}

.led {
    border: #5cd08d 5px solid;
    padding-top: 9px;
    padding-bottom: 0px;
}

.button-led {
    text-align: right;
}

.email_login input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_login input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.title_register {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_register h4 {
    font-size: 30px;
}

.title_login {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_login h4 {
    font-size: 30px;
}

.firstname_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.lastname_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.phone_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.address_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_register .email_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.email_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.modal-footer {
    display: block;
}

.form_login {
    transform: translate(0px, 30px);
    width: 300px;
    margin: 0 auto;
    z-index: 1000;
    border: #5cd08d 2px solid;
}

/*------------------desktop -----------------------*/
@media only screen and (min-width: 766px) {
    #button_show_menu {
        display: none;
        float: right;
    }

    .menu_login {
        display: block;
    }
}

/*------------------mobile -----------------------*/
@media only screen and (max-width: 450px) {
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0 auto;
        pointer-events: none;
        line-height: 40%;
        padding-top: 40%;
    }

    .menu {
        display: block;
    }

    #button_show_menu {
        display: block;
        float: right;
        /*border: #5cd08d 1px solid;*/
        /*transform: translate(15%,0%);*/
    }

    .menu_login {
        display: none;
    }

    .menu a {
        float: left;
    }

    #show_button_logout {
        display: block;
    }
}

.button_logout {
    border-radius: 0px;
    z-index: 1;
}

/*#show_button_add{*/
/*    position: relative;*/
/*}*/
.div_button_add {
    display: block;
    position: absolute;
    z-index: 1000;
    transform: translate(0%, 100%);
    background-color: rgb(183, 197, 115);
}

.button_add {
    display: none
}

.count-particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.lable_register {
    display: inline-block;
    width: 100%;
    height: 25px;
    /*border: 1px solid;*/
    text-align: left;
    /*margin-bottom: 5px;*/
    padding-left: 15px;
    font-size: 20px;
}

.lable_login {
    display: inline-block;
    width: 100%;
    height: 25px;
    /*border: 1px solid;*/
    text-align: left;
    /*margin-bottom: 5px;*/
    padding-left: 15px;
    font-size: 20px;
}

.form_add_home {
    width: 350px;
    margin: 0 auto;
    height: auto;
    border: 1px solid;
    background-color: lightskyblue;
}

.title_form_add_home {
    height: 60px;
    width: 100%;
    /*padding: 0px;*/
    padding-top: 15px;
    display: block;
    background-color: #5CD08D;
}

.title_form_add_home h2 {
    font-size: 25px;
}

.name_house label {
    margin-bottom: 5px;
    font-size: 18px;
}

.name_floor label {
    margin-bottom: 5px;
    font-size: 18px;
}

.name_room label {
    margin-bottom: 5px;
    font-size: 18px;
}

.sup_floor_room {
    background-color: #9561e2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
}

.title_status {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #ffed4a, #9561e2);
    margin-top: 5px;
    margin-bottom: 5px;
}

.title_edit_device {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_edit_device h4 {
    font-size: 30px;
}

.add_device {
    width: 500px;
    height: auto;
    margin: 0 auto;
    border: #171a1d solid;
    background-color: #b3e8ca;
    margin-top: 10px;
}

.edit_device {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: #171a1d solid;
    background-color: #b3e8ca;
    margin-top: 10px;
}

.sup_add_device {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.sup_edit_device {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.sup_add_device label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
}

.sup_edit_device label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
}

.sup_add_device label span {
    font-size: 18px;
}

.sup_edit_device label span {
    font-size: 18px;
}

.sup_edit_device select {
    width: 90%;
    height: 35px;
    margin-right: 5%;
    margin-left: 5%;

    box-shadow: 5px 5px #888888;
}

.sup_add_device input {
    width: 90%;
    height: 35px;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}
.sup_edit_device input {
    width: 90%;
    height: 35px;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}
