.menu {
    overflow: hidden;
    background-color: #333;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.menu_login a {
    float: right;
    /*background-color:white;*/
}

.header {
    width: 100%;
    height: 300px;
    margin-bottom: 2px;
    background-image: url("../image_backgound/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header h2 {
    color: #FF0033;
}

.location {
    height: 200px;
    width: 100%;
    position: relative;
    border: 2px solid white;
    opacity: 1;
    background-color: #5cd08d;
}

.loc-1 {
    background-image: url("../image_backgound/phong_khach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-2 {
    background-image: url("../image_backgound/phong_ngu_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-3 {
    background-image: url("../image_backgound/phong_ngu_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-4 {
    background-image: url("../image_backgound/phong_tam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-diff {
    background-image: url("../image_backgound/santhuong.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.location-content {
    position: absolute;
    margin-right: -50%;
    /*background: bisque;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 30px;
    /*font-weight: bold;*/
    font-family: Algerian;
    color: rgb(15, 171, 166);
}

.led {
    border: #5cd08d 5px solid;
    padding-top: 9px;
    padding-bottom: 0px;
}

.button-led {
    text-align: right;
}

.email_login input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_login input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.title_register {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_login {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.username_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.phone_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.address_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_register .email_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.email_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}
.modal-footer{
    display:block;
}
.form_login{
    transform: translate(0px,30px);
    width: 300px;
    margin: 0 auto;
    z-index: 1000;
    border: #5cd08d 2px solid;
}
/*------------------mobile -----------------------*/
@media only screen and (max-width: 765px) {
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0 auto;
        pointer-events: none;
        line-height: 40%;
        padding-top: 40%;
    }
}
