body {
    position: relative;
    z-index: 10;
    /*font-size: 14px;*/
}

.menu {
    /*overflow: hidden;*/
    background-color: #B7C573;
    /*background-image:linear-gradient(to right,#FFD700,#6cb2eb);*/
    position: relative;
}

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

.menu_login a {
    float: right;
    /*background-color:white;*/
}

.header {
    width: 100%;
    height: 300px;
    margin-bottom: 2px;
    background-image: url("../image_backgound/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7%;
}

.header h2 {
    color: #FF0033;
    font-size: x-large;
    font-weight: bold;
}

.location {
    height: 100px;
    width: 100%;
    position: relative;
    border: 2px solid #0066D9;
    opacity: 1;
    background-color: #5cd08d;
    display: inline-block;
    padding: 0px;

}

.location:hover {
    background-color: #F1F1F1;
}

.location a {
    width: 100%;
    height: 100%;
    /*background-color: #9561e2;*/
    color: white;
    /*position: absolute;*/
}

.loc-1 {
    background-color: #97FFFF;
    /*background-image: url("../image_backgound/phong_khach.jpg");;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loc-2 {
    margin-top: 10px;
    background-image: linear-gradient(to right, #FF00FF, #3300FF);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: #0066D9;
}

.location-content {
    position: absolute;
    margin-right: -50%;
    /*background: bisque;*/
    top: 25px;
    left: 50%;
    padding-bottom: 5px;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 22px;
    /*font-weight: bold;*/
    font-family: Algerian;
    color: black;
}

.list_floor {
    position: absolute;
    margin-right: -50%;
    /*background: bisque;*/
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 18px;
    /*font-weight: bold;*/
    /*font-family: Algerian;*/
    color: rgb(8, 19, 43);
    padding-top: 20px;
}

.content-device {
    /*border: #5cd08d 5px solid;*/
    padding-top: 9px;
    padding-bottom: 0px;
    height: 100px;
    background: linear-gradient(to right, #6cb2eb, #97FFFF);
    padding-left: 20px;
    padding-right: 20px;
}

/*-----------------------------------------------------------------*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/*______________________________________________________*/
/*----------------------------------------------------------*/
.checkbox input[type="checkbox"] {
    position: absolute;
    float: right;
    transform: translate(90%, 0%);
}

/*_______________________________________________________*/
.button-led {
    text-align: right;
}

.email_login input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_login input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.title_register {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_register h4 {
    font-size: 30px;
}

.title_login {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_login h4 {
    font-size: 30px;
}

.username_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.lastname_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.phone_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.address_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_register .email_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.email_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.pass_register input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.modal-footer {
    display: block;
}

.form_login {
    transform: translate(0px, 30px);
    width: 300px;
    margin: 0 auto;
    z-index: 1000;
    border: #5cd08d 2px solid;
}

/*------------------desktop -----------------------*/
@media only screen and (min-width: 766px) {
    #button_show_menu {
        display: none;
        float: right;
    }

    .menu_login {
        display: block;
    }
}

/*------------------mobile -----------------------*/
@media only screen and (max-width: 450px) {
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0 auto;
        pointer-events: none;
        line-height: 40%;
        padding-top: 40%;
    }

    .menu {
        display: block;
    }

    #button_show_menu {
        display: block;
        float: right;
        /*border: #5cd08d 1px solid;*/
        /*transform: translate(15%,0%);*/
    }

    .menu_login {
        display: none;
    }

    .menu a {
        float: left;
    }

    #show_button_logout {
        display: block;
    }
}

.button_logout {
    border-radius: 0px;
    z-index: 1;
}

/*#show_button_add{*/
/*    position: relative;*/
/*}*/
.div_button_add {
    display: block;
    position: absolute;
    z-index: 1000;
    /* width: 1000px; */
    transform: translate(0%, 70%);
    background-color: rgb(183, 197, 115);
    padding-top: 0px;
}

@media only screen and (max-width: 1199px) {
    .div_button_add {
        display: block;
        position: absolute;
        z-index: 1000;
        transform: translate(0%, 50%);
        background-color: rgb(183, 197, 115);
        padding-top: 0px;
    }
}

.button_add {
    display: none;
    position: relative;
    width: 33%;
}

.count-particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.lable_register {
    display: inline-block;
    width: 100%;
    height: 25px;
    /*border: 1px solid;*/
    text-align: left;
    /*margin-bottom: 5px;*/
    padding-left: 15px;
    font-size: 20px;
}

.lable_login {
    display: inline-block;
    width: 100%;
    height: 25px;
    /*border: 1px solid;*/
    text-align: left;
    /*margin-bottom: 5px;*/
    padding-left: 15px;
    font-size: 20px;
}

.form_add_home {
    width: 400px;
    margin: 0 auto;
    height: auto;
    border: 1px solid;
    background-color: lightskyblue;
}

.form_add_room {
    width: 400px;
    margin: 0 auto;
    height: auto;
    border: 1px solid;
    background-color: lightskyblue;
}

.title_form_add_home {
    height: 60px;
    width: 100%;
    /*padding: 0px;*/
    padding-top: 15px;
    display: block;
    background-color: #5CD08D;
}

.title_form_add_home h2 {
    font-size: 25px;
}

.name_house label {
    margin-bottom: 5px;
    font-size: 18px;
}

.name_floor {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid whitesmoke;
    background-color: #5CD08D;
}

.name_floor label {
    margin-bottom: 5px;
    font-size: 18px;

}

.name_room label {
    margin-bottom: 5px;
    font-size: 18px;
}

.sup_floor_room {
    /*background-color: lightcyan;*/
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
}

.add_room {
    background-color: lightcyan;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
}

.title_status {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #ffed4a, #9561e2);
    margin-top: 5px;
    margin-bottom: 5px;
}

.title_edit_device {
    background-color: #5cd08d;
    margin-bottom: 10px;
}

.title_edit_device h4 {
    font-size: 30px;
}

.add_device {
    width: 500px;
    height: auto;
    margin: 0 auto;
    border: #171a1d solid;
    background-color: #b3e8ca;
    margin-top: 10px;
}

.list_device {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: #171a1d solid;
    background-color: #b3e8ca;
    margin-top: 10px;
}

.table {
    background-color: #b3e8ca;
}

.sup_add_device {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.sup_edit_device {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.sup_add_device label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
}

.sup_edit_device label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
}

.sup_add_device label span {
    font-size: 18px;
}

.sup_edit_device label span {
    font-size: 18px;
}

.sup_edit_device select {
    width: 90%;
    height: 35px;
    margin-right: 5%;
    margin-left: 5%;

    box-shadow: 5px 5px #888888;
}

.sup_add_device input {
    width: 90%;
    height: 35px;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.sup_edit_device input {
    width: 90%;
    height: 35px;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

#table_room {
    display: none;
    margin-top: 10px;
    width: 100%;
    border: solid 1px black;
    color: black;
    text-align: center;
    background-color: white;
}

#table_room th, td {
    border: solid 1px black;
    padding-bottom: 5px;
    padding-top: 5px;
}

.edit_device {
    /*width: 400px;*/
    /* margin: 0 auto; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* margin-top: 10px; */
    border: #ebebeb solid;
    background-color: #4dc0b5;
    /* position: absolute; */
    transform: translateX(90%);
    
}

@media only screen and (max-width: 416px) {
    .edit_device {
        /* width: 400px; */
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        border: #171a1d solid;
       /* position: absolute; */
       transform: translateX(5%);
    }
}

@keyframes select_house {
    from {
        border: solid 2px red
    }
    to {
        border: solid 2px yellow
    }
}

.select_house {
    border: 2px solid black;
    animation-name: select_house;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*animation-delay: 2s; !*độ trể xuất hiện*!*/
    animation-direction: reverse;
}

@keyframes caution {
    from {
        color: #ffed4a;
    }
    to {
        color: blue;
    }
}

#caution {
    color: #97FFFF;
    animation-name: caution;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.his_control a {
    text-decoration: none;
    border: blue 1px solid;
    padding: 3px;
    background-color: #b3e8ca;
    border-radius: 7px;
}

.his_control a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

.add_function {
    position: absolute;
    top: 20%;
    left: 40%;

}

.note_btn {
    position: absolute;
    left: 20%;
    animation: note_btn 4s infinite;
    animation-direction: alternate;

}

@keyframes note_btn {
    from {
        left: 20%;
    }
    to {
        left: 40%;
    }
}
